
.box{

position: absolute;
width: 98%;
height: 93%;
left: 14px;
top: 12px;

background: linear-gradient(114.65deg, #00060E 1.01%, #233345 52.63%, #000105 97.49%);
border-radius: 40px;
}
.image-container img{
    width: 338px;
    height: 264px;
}
.ewouk-name img{
    

position: absolute;
width: 1500.2px;
height: 436.3px;
left: 141px;
top: 273px;


}