.navbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: 8%;
  background: #000000;
  border-radius: 42.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links a {
  display: flex; /* Ensure icons and text are aligned horizontally */
  align-items: center; /* Align icons and text vertically */
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 20px;
  transition: color 0.3s;
  border-radius: 42.5px;
}

.navbar-links a.active {
  background: #ffffff;
  color: black;
}

.navbar-links li {
  white-space: nowrap;
}

.navbar-links li + li {
  margin-left: 15px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}

/* Icon styling */
.navbar-links a svg {
  margin-right: 8px; /* Space between the icon and text */
  font-size: 18px; /* Adjust icon size */
}

/* Responsive Design */
@media (max-width: 600px) {
  .navbar {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 10px 0;
  }

  .navbar-links {
    flex-direction: column;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-links a {
    justify-content: center; /* Center links in mobile view */
  }
}
